@{
    ViewData["Title"] = "Logged Out";
}
<h1>@ViewData["Title"]</h1>

<p>You have been logged out</p>

<a asp-controller="Home" asp-action="Index" class="btn btn-secondary" style="width:150px">
	Back To Home
</a>
