@{
    ViewData["Title"] = "Account Creation";
}
<h1>@ViewData["Title"]</h1>

<p>Your Account has been successfully created! You may now log in.</p>

<a asp-controller="Home" asp-action="Index" class="btn btn-secondary" style="width:150px">
	Back To Home
</a>