@model IEnumerable<Mod>
@{

    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt=4">
        <div class="col-6">
            <h2 class="text-primary">Mod List</h2>
        </div>
    </div>
    <br />


<table class="table table-active table-bordered striped" style="width:100%">
    <tbody>
        @{
        int i = 0;

        @foreach(var obj in Model)
        {
            if (i % 2 == 0)
            {
                @:<tr>
                ++i;
            }
            else
            {
                ++i;
            }
                <td>
                    @obj.Mod_Id
                </td>
                <td>
                    @obj.Mod_Name
                </td>
                <td>
                    @{string downloadFile = @obj.Mod_Name + ".zip";}
                    <a href="~/UploadedFiles/@downloadFile" download>Download</a>
                </td>
            if (i % 2 == 0)
            {
                @:</tr>
            }
        }
        if (i % 2 != 0)
        {
            @:<td>
               
            @:</td>
            @:<td>

            @:</td>
            @:<td>

            @:</td>
        }

        }
    </tbody>
</table>
</div>
