@{
    ViewData["Title"] = "Upload Successful!";
}
<h1>@ViewData["Title"]</h1>

<p>Congratulations, Your mod has been uploaded successfully!</p>

<a asp-controller="Home" asp-action="Index" class="btn btn-secondary" style="width:150px">
	Back To Home
</a>
